= render('layouts/errors', :object => @rental)
%br>/
%h5
  %b Please enter the information about your rental:
%br/
= form_for @rental, :html => { :multipart => true } do |f|
  .form-group
    = f.label :rental_type
    = f.label :rental_type, "Entire property", :value => "entire", :class => "label_short"
    = f.radio_button :rental_type, "entire", :class => "padding-right"
    = f.label :rental_type, "Private room", :value => "private", :class => "label_short"
    = f.radio_button :rental_type, "private", :class => "padding-right"
    = f.label :rental_type, "Shared room", :value => "shared", :class => "label_short"
    = f.radio_button :rental_type, "shared", :class => "padding-right"
  %br/
  .form-group
    = f.label :city, :class => "label_short"
    = f.text_field :city, :class => "padding-right text_field"
    = f.label :state, :class => "label_short"
    = f.select(:state, options_for_select(us_states, @rental.state))
  .form-group
    = f.label :number_bedrooms, "Bedroom count (max:\u00a010)", :class => "label_short"
    = f.number_field :number_bedrooms, in: 1..10, :class => "margin_right_30"
    = f.label :number_beds, "Bed count (max:\u00a020)", :class => "label_short"
    = f.number_field :number_beds, in: 1..20, :class => "margin_right_30"
    = f.label :number_bathrooms, "Bathroom count (max:\u00a010)", :class => "label_short"
    = f.number_field :number_bathrooms, in: 1..10, :class => "margin_right_30"
    = f.label :max_number_guests, "Maximum number of guests (max:\u00a020)", :class => "label_short"
    = f.number_field :max_number_guests, in: 1..20
  .form-group
    = f.label :base_rate, "Rate/night/1 guest $USD (max:\u00a0$5000)", :class => "label_short"
    = f.number_field :base_rate, in: 1..5000, :class => "margin_right_20"
    = f.label :extra_guest_rate, "Rate/night/extra guest $USD (max:\u00a0$1000)", :class => "label_short"
    = f.number_field :extra_guest_rate, in: 1..1000, :class => "margin_right_20"
    = f.label :minimum_days_stay, "Minimum stay length in days (max:\u00a0365)", :class => "label_short"
    = f.number_field :minimum_days_stay, in: 1..365
  .form-group
    = f.label :description
    = f.text_area :description, rows: 10, cols: 140
  #has-photo.form-group
    = f.label :has_photo, "Do you want to upload a photo?"
    = f.check_box :has_photo
  %br/
  %br/
  #upload.form-group
    = f.file_field :the_photo
  %br/
  = f.submit "Create Rental", :class => "btn btn-primary pull_left"
